<div class="product-card">
  <div class="product-image-wrap relative">
    {%- comment -%} Badges {%- endcomment -%}
    <div class="product-badges">
      {%- if product != blank -%}
        {%- if product.available == false -%}
          <span class="badge badge--soldout badge--left">{{ 'products.product.sold_out' | t }}</span>
        {%- endif -%}
        <div class="badge-column badge--right flex flex-col gap-5">
          {%- if product.compare_at_price > product.price -%}
            <span class="badge badge--sale"
              >-
              {{-
                product.compare_at_price
                | minus: product.price
                | times: 100.0
                | divided_by: product.compare_at_price
                | round
              -}}
              %</span
            >
          {%- endif -%}
          {%- if product.metafields.custom.preorder -%}
            <span class="badge badge--preorder">PRE-ORDER</span>
          {%- endif -%}
        </div>
      {%- else -%}
        {%- if dummy_index == 1 -%}
          <span
            class="badge badge--soldout badge--left absolute top-10 left-10 text-white text-xs font-semibold rounded-30"
            style="background-color: #757575;"
            >Sold Out</span
          >
        {%- elsif dummy_index == 3 -%}
          <div class="badge-column absolute top-10 left-10 flex flex-col gap-3 items-start">
            <span
              class="badge badge--sale text-white text-xs font-semibold rounded-pill"
              style="background-color: #E64A19;"
              >-10%</span
            >
            <span
              class="badge badge--preorder text-white text-xs font-semibold rounded-pill"
              style="background-color: #00838F;"
              >Pre-Order</span
            >
          </div>
        {%- endif -%}
      {%- endif -%}
    </div>

    {%- comment -%} Action Icons {%- endcomment -%}
    <div class="product-action-icons">
      <button class="action-icon-btn" aria-label="{{ 'products.product.wishlist' | t }}">
        <img width="14" height="14" src="{{ 'heart.svg' | asset_url }}" alt="" loading="lazy">
      </button>
      <button class="action-icon-btn" aria-label="{{ 'products.product.quick_view' | t }}">
        <img width="14" height="14" src="{{ 'eye.svg' | asset_url }}" alt="" loading="lazy">
      </button>
    </div>

    {%- comment -%} Product Image {%- endcomment -%}
    {%- if product.featured_image != blank -%}
      {{
        product.featured_image
        | image_url: width: 660
        | image_tag:
          class: 'w-full h-full object-cover',
          widths: '330, 660',
          height: 440,
          width: 330,
          alt: product.title,
          loading: 'lazy'
      }}
    {%- else -%}
      {%- assign current_dummy = dummy_index | default: forloop.index | default: 1 -%}
      {%- if current_dummy == 1 -%}
        {%- assign fallback_prod = 'products-1.webp' -%}
      {%- elsif current_dummy == 2 -%}
        {%- assign fallback_prod = 'products-2.webp' -%}
      {%- elsif current_dummy == 3 -%}
        {%- assign fallback_prod = 'products-7.webp' -%}
      {%- elsif current_dummy == 4 -%}
        {%- assign fallback_prod = 'products-8.webp' -%}
      {%- else -%}
        {%- capture fallback_prod -%}products-{{ current_dummy | modulo: 20 | plus: 1 }}.webp{%- endcapture -%}
      {%- endif -%}
      <img
        src="{{ fallback_prod | asset_url }}"
        alt="Product Placeholder"
        class="w-full h-full object-cover bg-fc"
        width="330"
        height="440"
        loading="lazy"
      >
    {%- endif -%}

    {%- comment -%} Mobile Sale Bar {%- endcomment -%}
    <div class="product-sale-bar mobile-only">
      <div class="sale-marquee">
        <span
          >SALE
          {{
            product.compare_at_price
            | minus: product.price
            | times: 100.0
            | divided_by: product.compare_at_price
            | round
          -}}
          % OFF
          <svg width="8" height="12" viewBox="0 0 8 12" fill="none" class="text-bolt">
            <path d="M7.95115 5.14843L2.96899 11.8984C2.94574 11.9299 2.91543 11.9555 2.88049 11.9731C2.84555 11.9908 2.80696 11.9999 2.76782 12C2.73487 12 2.70223 11.9935 2.67187 11.9807C2.62021 11.9593 2.57723 11.9212 2.54983 11.8724C2.52242 11.8237 2.51218 11.7671 2.52075 11.7119L3.20849 7.24997H0.250003C0.203741 7.24997 0.158387 7.23713 0.118987 7.21289C0.0795867 7.18865 0.0476859 7.15395 0.0268346 7.11265C0.00598329 7.07135 -0.00300066 7.02508 0.000882316 6.97899C0.00476529 6.93289 0.021363 6.88877 0.0488284 6.85154L5.03099 0.101566C5.06418 0.0565804 5.11149 0.0240191 5.16537 0.00908492C5.21924 -0.00584928 5.27657 -0.00229448 5.32819 0.0191813C5.3798 0.0406571 5.42273 0.0788144 5.45011 0.127556C5.47749 0.176298 5.48775 0.232811 5.47924 0.288065L4.79149 4.74998H7.74998C7.79624 4.74997 7.8416 4.76281 7.88101 4.78705C7.92041 4.8113 7.95232 4.846 7.97317 4.8873C7.99402 4.9286 8.003 4.97488 7.99912 5.02098C7.99523 5.06708 7.97862 5.1112 7.95115 5.14843Z" fill="currentColor"/>
          </svg>
          HOT SALE</span
        >
        <span
          >SALE
          {{
            product.compare_at_price
            | minus: product.price
            | times: 100.0
            | divided_by: product.compare_at_price
            | round
          -}}
          % OFF
          <svg width="8" height="12" viewBox="0 0 8 12" fill="none" class="text-bolt">
            <path d="M7.95115 5.14843L2.96899 11.8984C2.94574 11.9299 2.91543 11.9555 2.88049 11.9731C2.84555 11.9908 2.80696 11.9999 2.76782 12C2.73487 12 2.70223 11.9935 2.67187 11.9807C2.62021 11.9593 2.57723 11.9212 2.54983 11.8724C2.52242 11.8237 2.51218 11.7671 2.52075 11.7119L3.20849 7.24997H0.250003C0.203741 7.24997 0.158387 7.23713 0.118987 7.21289C0.0795867 7.18865 0.0476859 7.15395 0.0268346 7.11265C0.00598329 7.07135 -0.00300066 7.02508 0.000882316 6.97899C0.00476529 6.93289 0.021363 6.88877 0.0488284 6.85154L5.03099 0.101566C5.06418 0.0565804 5.11149 0.0240191 5.16537 0.00908492C5.21924 -0.00584928 5.27657 -0.00229448 5.32819 0.0191813C5.3798 0.0406571 5.42273 0.0788144 5.45011 0.127556C5.47749 0.176298 5.48775 0.232811 5.47924 0.288065L4.79149 4.74998H7.74998C7.79624 4.74997 7.8416 4.76281 7.88101 4.78705C7.92041 4.8113 7.95232 4.846 7.97317 4.8873C7.99402 4.9286 8.003 4.97488 7.99912 5.02098C7.99523 5.06708 7.97862 5.1112 7.95115 5.14843Z" fill="currentColor"/>
          </svg>
          HOT SALE</span
        >
      </div>
    </div>

  </div>

  <div class="product-info">
    {%- if product != blank -%}
      <a href="{{ product.url }}" class="product-title text-base font-medium block">{{ product.title }}</a>
    {%- else -%}
      <a href="#" class="product-title text-base font-medium block">Square Textured Striped</a>
    {%- endif -%}

    {%- if product != blank and product.metafields.custom.subtitle != blank -%}
      <p class="product-description text-muted text-sm">{{ product.metafields.custom.subtitle }}</p>
    {%- endif -%}

    <div class="product-rating flex gap-1">
      {%- for i in (1..5) -%}
        {% render 'icon-star' %}
      {%- endfor -%}
    </div>

    <div class="product-price text-sm font-semibold">
      {%- if product != blank -%}
        {%- if product.compare_at_price > product.price -%}
          <span class="price-sale mr-5">{{ product.price | money }}</span>
          <span class="price-original">{{ product.compare_at_price | money }}</span>
        {%- else -%}
          {{ product.price | money }}
        {%- endif -%}
      {%- else -%}
        {%- assign current_dummy = dummy_index | default: forloop.index | default: 1 -%}
        {%- if current_dummy == 2 -%}
          <span class="price-sale text-sm mr-5" style="color: #D73F0F;">$150.00</span>
          <span class="price-original text-sm line-through" style="color: #999999;">$490.00</span>
        {%- else -%}
          $150.00
        {%- endif -%}
      {%- endif -%}
    </div>

    <div class="product-colors flex gap-5">
      {%- assign palette = '#272D43,#A93A3A,#E1D6C7,#EEEEEE,#D6D6D6,#C2CADF,#08382C,#492919,#DFD3C2' | split: ',' -%}
      {%- assign index = product_index | default: dummy_index | default: 1 -%}
      {%- if index == 1 -%}
        {%- assign start = 0 -%}
      {%- elsif index == 2 -%}
        {%- assign start = 3 -%}
      {%- else -%}
        {%- assign start = 6 -%}
      {%- endif -%}
      {%- for k in (0..2) -%}
        {%- assign idx = start | plus: k -%}
        {%- assign color_value = palette[idx] -%}
        <div class="color-swatch{% if forloop.first %} active{% endif %}" title="{{ color_value }}">
          <span class="color-swatch-inner" style="background-color: {{ color_value }};"></span>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
