<ul class="social-icons flex gap-10">
  <li>
    {% comment %} <a href="{{ settings.social_instagram | default: '#' }}" target="_blank" rel="noopener noreferrer" aria-label="Instagram"> {% endcomment %}
    <img width="36" height="36" src="{{ 'instagram.svg' | asset_url }}" alt="Instagram" loading="lazy">
    {% comment %} </a> {% endcomment %}
  </li>
  <li>
    {% comment %} <a href="{{ settings.social_tiktok | default: '#' }}" target="_blank" rel="noopener noreferrer" aria-label="TikTok"> {% endcomment %}
    <img width="36" height="36" src="{{ 'tiktok.svg' | asset_url }}" alt="TikTok" loading="lazy">
    {% comment %} </a> {% endcomment %}
  </li>
  <li>
    {% comment %} <a href="{{ settings.social_youtube | default: '#' }}" target="_blank" rel="noopener noreferrer" aria-label="YouTube"> {% endcomment %}
    <img width="36" height="36" src="{{ 'youtube.svg' | asset_url }}" alt="YouTube" loading="lazy">
    {% comment %} </a> {% endcomment %}
  </li>
  <li>
    {% comment %} <a href="{{ settings.social_twitter | default: '#' }}" target="_blank" rel="noopener noreferrer" aria-label="Twitter"> {% endcomment %}
    <img width="36" height="36" src="{{ 'twitter.svg' | asset_url }}" alt="Twitter" loading="lazy">
    {% comment %} </a> {% endcomment %}
  </li>
  <li>
    {% comment %} <a href="{{ settings.social_facebook | default: '#' }}" target="_blank" rel="noopener noreferrer" aria-label="Facebook"> {% endcomment %}
    <img width="36" height="36" src="{{ 'facebook.svg' | asset_url }}" alt="Facebook" loading="lazy">
    {% comment %} </a> {% endcomment %}
  </li>
</ul>
